.navbar {
    background-color: rgb(248, 226, 230);
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center-align the items horizontally */
    align-items: center; /* Center-align the items vertically */
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #f8e2e6;
  }
  